<div class="nhanvien">
  <h3 [style.color]="'blue'">Ho ten: {{hoten}}</h3>
  <h3 [style.color]="mausac">Tuoi: {{ 2018 - namsinh}}</h3>
  <div [class.aoxanh]="macao" >Gender</div>
  <img
      (click) = "clickHinh($event)"
      src="{{hinh}}" [attr.logo]="namsinh"/>
<div>
